@import "../../assets/styles/partials/colors";

.header {
  align-items: center;
  background-color: $bg-color-header;
  display: flex;
  flex-direction: row;
  height: 4rem;
}

.headerTitle {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}

.logo {
  height: 75%;
}

.searchBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
